.formula-container {
  display: flex;
  position: absolute;
  bottom: 10%;
  right: 0;
  border: 1px solid #ccc;
  flex-direction: column;
  background-color: white;
  width: 320px;
  border-radius: 10px;
  padding: 10px;
  border: 3px solid #a2a1a1;
  height: 270px;
}
.formula-class-container {
  display: flex;
  flex-direction: row;
  width: 320px;
  height: 35px;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  background-color: #e7e7e7;
}
.formula-item-container {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  width: 318px;
  padding: 1px;
  height: 230px;
  margin-bottom: 4px;
}
.formula-item-container::-webkit-scrollbar,
.formula-class-container::-webkit-scrollbar,
.formula-item::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

.formula-item-container::-webkit-scrollbar-thumb,
.formula-class-container::-webkit-scrollbar-thumb,
.formula-item::-webkit-scrollbar-thumb {
  background-color: #888; /* 设置滚动条拖动部分的颜色 */
  border-radius: 4px; /* 设置滚动条拖动部分的圆角半径 */
}

.formula-item-container::-webkit-scrollbar-track,
.formula-class-container::-webkit-scrollbar-track,
.formula-item::-webkit-scrollbar-track {
  background-color: #eee; /* 设置滚动条轨道的颜色 */
  border-radius: 4px; /* 设置滚动条轨道的圆角半径 */
}

.formula-item {
  width: 100px;
  height: 100px;
  overflow: auto;
  margin: 0;
  background-color: white;
  outline: 1px solid #ccc;
  position: relative;
}
.formula-item:hover {
  background-color: #f2f2f2;
}
.formula-item:hover p {
  transform: translate(0, -2px);
}
.formula-item p {
  word-wrap: break-word; /* 允许单词换行 */
  word-break: break-all; /* 打断超长单词 */
  margin: 4px;
}
.formula-item .delete-formula {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: red;
  border: none;
  border-radius: 5px;
  text-align: center;
  line-height: 10px;
  color: white;
  cursor: pointer;
}
.formula-item .formula-add-button {
  display: inline-block;
  margin: 2px;
  border: 2px solid #6660df;
  border-radius: 5px;
  background-color: #6660df;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.formula-item .formula-add-button:hover {
  background-color: #fff;
  color: #6660df;
}
.formula-item .formula-delete-button {
  display: inline-block;
  margin: 2px;
  border: 2px solid #df6060;
  border-radius: 5px;
  background-color: #df6060;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.formula-item .formula-delete-button:hover {
  background-color: #fff;
  color: #df6060;
}
.add-container {
  position: fixed; /* 使用固定定位，使元素相对于视口定位 */
  top: 50%; /* 距离视口顶部的距离 */
  left: 50%; /* 距离视口左侧的距离 */
  transform: translate(-50%, -50%); /* 将元素自身的中心点定位在视口的中心 */
  width: 400px; /* 悬浮窗的宽度 */
  height: 230px; /* 悬浮窗的高度 */
  background-color: #f1f1f1; /* 悬浮窗的背景颜色 */
  border: 1px solid #ccc; /* 悬浮窗的边框样式 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 悬浮窗的阴影效果 */
  z-index: 9999; /* 确保悬浮窗在其他元素之上 */
}
.add-formula-form {
  padding: 20px;
}
.add-formula-form .confirm {
  margin-right: 40px;
}
.add-formula-form .cancel {
  background-color: #bc2b2b;
  border: 2px solid #bc2b2b;
}
.add-formula-form .cancel:hover {
  background-color: #fff;
  color: #bc2b2b;
}
.delete-class-container {
  position: fixed; /* 使用固定定位，使元素相对于视口定位 */
  top: 50%; /* 距离视口顶部的距离 */
  left: 50%; /* 距离视口左侧的距离 */
  transform: translate(-50%, -50%); /* 将元素自身的中心点定位在视口的中心 */
  z-index: 9999; /* 确保悬浮窗在其他元素之上 */
}
.delete-class-container .confirm {
  color: red;
  font-weight: bold;
}
.add-class-container {
  position: fixed; /* 使用固定定位，使元素相对于视口定位 */
  top: 50%; /* 距离视口顶部的距离 */
  left: 50%; /* 距离视口左侧的距离 */
  transform: translate(-50%, -50%); /* 将元素自身的中心点定位在视口的中心 */
  width: 300px; /* 悬浮窗的宽度 */
  height: 200px; /* 悬浮窗的高度 */
  background-color: #f1f1f1; /* 悬浮窗的背景颜色 */
  border: 1px solid #ccc; /* 悬浮窗的边框样式 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 悬浮窗的阴影效果 */
  z-index: 9999; /* 确保悬浮窗在其他元素之上 */
}
.formula-class button {
  border: 0;
  height: 28px;
  min-width: 50px;
  font-size: 16px;
  line-height: 16px;
  background-color: #e7e7e7;
  color: #000;
  padding: 4px;
}
.formula-class button:hover {
  background-color: #ccc;
}
.choosing-formula-class button {
  background-color: #ffffff;
}
.choosing-formula-class button:hover {
  background-color: #ffffff;
}
