.formula-container {
  display: flex;
  position: absolute;
  bottom: 45px;
  right: 0;
  border: 1px solid #ccc;
  flex-direction: column;
  background-color: white;
  width: 320px;
  border-radius: 10px;
  padding: 10px;
  border: 3px solid #a2a1a1;
  height: 270px;
}
.formula-class-container {
  display: flex;
  flex-direction: row;
  width: 320px;
  height: 35px;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  background-color: #e7e7e7;
}
.formula-item-container {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  width: 318px;
  padding: 1px;
  height: 230px;
  margin-bottom: 4px;
}
.formula-item-container::-webkit-scrollbar,
.formula-class-container::-webkit-scrollbar,
.formula-item::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

.formula-item-container::-webkit-scrollbar-thumb,
.formula-class-container::-webkit-scrollbar-thumb,
.formula-item::-webkit-scrollbar-thumb {
  background-color: #888; /* ���ù������϶����ֵ���ɫ */
  border-radius: 4px; /* ���ù������϶����ֵ�Բ�ǰ뾶 */
}

.formula-item-container::-webkit-scrollbar-track,
.formula-class-container::-webkit-scrollbar-track,
.formula-item::-webkit-scrollbar-track {
  background-color: #eee; /* ���ù������������ɫ */
  border-radius: 4px; /* ���ù����������Բ�ǰ뾶 */
}

.formula-item {
  width: 100px;
  height: 100px;
  overflow: auto;
  margin: 0;
  background-color: white;
  outline: 1px solid #ccc;
  position: relative;
}
.formula-item:hover {
  background-color: #f2f2f2;
}
.formula-item:hover p {
  transform: translate(0, -2px);
}
.formula-item p {
  word-wrap: break-word; /* �������ʻ��� */
  word-break: break-all; /* ��ϳ������� */
  margin: 4px;
}
.formula-item .delete-formula {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: red;
  border: none;
  border-radius: 5px;
  text-align: center;
  line-height: 10px;
  color: white;
  cursor: pointer;
}
.formula-item .formula-add-button {
  display: inline-block;
  margin: 2px;
  border: 2px solid #6660df;
  border-radius: 5px;
  background-color: #6660df;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.formula-item .formula-add-button:hover {
  background-color: #fff;
  color: #6660df;
}
.formula-item .formula-delete-button {
  display: inline-block;
  margin: 2px;
  border: 2px solid #df6060;
  border-radius: 5px;
  background-color: #df6060;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.formula-item .formula-delete-button:hover {
  background-color: #fff;
  color: #df6060;
}
.add-container {
  position: fixed; /* ʹ�ù̶���λ��ʹԪ��������ӿڶ�λ */
  top: 50%; /* �����ӿڶ����ľ��� */
  left: 50%; /* �����ӿ����ľ��� */
  transform: translate(-50%, -50%); /* ��Ԫ�����������ĵ㶨λ���ӿڵ����� */
  width: 400px; /* �������Ŀ��� */
  height: 230px; /* �������ĸ߶� */
  background-color: #f1f1f1; /* �������ı�����ɫ */
  border: 1px solid #ccc; /* �������ı߿���ʽ */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* ����������ӰЧ�� */
  z-index: 9999; /* ȷ��������������Ԫ��֮�� */
}
.add-formula-form {
  padding: 20px;
}
.add-formula-form .confirm {
  margin-right: 40px;
}
.add-formula-form .cancel {
  background-color: #bc2b2b;
  border: 2px solid #bc2b2b;
}
.add-formula-form .cancel:hover {
  background-color: #fff;
  color: #bc2b2b;
}
.delete-class-container {
  position: fixed; /* ʹ�ù̶���λ��ʹԪ��������ӿڶ�λ */
  top: 50%; /* �����ӿڶ����ľ��� */
  left: 50%; /* �����ӿ����ľ��� */
  transform: translate(-50%, -50%); /* ��Ԫ�����������ĵ㶨λ���ӿڵ����� */
  z-index: 9999; /* ȷ��������������Ԫ��֮�� */
}
.delete-class-container .confirm {
  color: red;
  font-weight: bold;
}
.add-class-container {
  position: fixed; /* ʹ�ù̶���λ��ʹԪ��������ӿڶ�λ */
  top: 50%; /* �����ӿڶ����ľ��� */
  left: 50%; /* �����ӿ����ľ��� */
  transform: translate(-50%, -50%); /* ��Ԫ�����������ĵ㶨λ���ӿڵ����� */
  width: 300px; /* �������Ŀ��� */
  height: 200px; /* �������ĸ߶� */
  background-color: #f1f1f1; /* �������ı�����ɫ */
  border: 1px solid #ccc; /* �������ı߿���ʽ */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* ����������ӰЧ�� */
  z-index: 9999; /* ȷ��������������Ԫ��֮�� */
}
.formula-class button {
  border: 0;
  height: 28px;
  min-width: 50px;
  font-size: 16px;
  line-height: 16px;
  background-color: #e7e7e7;
  color: #000;
  padding: 4px;
}
.formula-class button:hover {
  background-color: #ccc;
}
.choosing-formula-class button {
  background-color: #ffffff;
}
.choosing-formula-class button:hover {
  background-color: #ffffff;
}
