.formula-container {
  display: flex;
  position: absolute;
  bottom: 45px;
  right: 0;
  border: 1px solid #ccc;
  flex-direction: column;
  background-color: white;
  align-items: flex-start;
}

.formula-class-container {
  display: flex;
  flex-direction: row;
  width: 300px;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  background-color: #e7e7e7;
  align-items: center;
}

.formula-class-container {
  display: flex;
  flex-direction: row;
  width: 300px;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  background-color: #e7e7e7;
  align-items: center;
}

.formula-item-container {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin-bottom: 4px;
}
.formula-item {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 90px;
  padding: 5px;
  overflow: auto;
  margin: 0;
  background-color: white;
  box-sizing: border-box; /* �߿�������ڲ� */
  border: 1px solid #ccc;
  justify-content: space-between;
}

.formula-item:hover {
  color: #444;
}

.formula-item p {
  word-wrap: break-word; /* �������ʻ��� */
  word-break: break-all; /* ��ϳ������� */
  margin: 4px;
  color: #444;
}
.add-formula-container , .add-class-container {
  position: fixed; /* ʹ�ù̶���λ��ʹԪ��������ӿڶ�λ */
  top: 50%; /* �����ӿڶ����ľ��� */
  left: 50%; /* �����ӿ����ľ��� */
  transform: translate(-50%, -50%); /* ��Ԫ�����������ĵ㶨λ���ӿڵ����� */
  width: fit-content; /* �������Ŀ��� */
  height: fit-content; /* �������ĸ߶� */
  padding: 10px;
  background-color: #f1f1f1; /* �������ı�����ɫ */
  border: 1px solid #ccc; /* �������ı߿���ʽ */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* ����������ӰЧ�� */
  z-index: 9999; /* ȷ��������������Ԫ��֮�� */
}

.preview-formula-container {
  position: fixed; /* ʹ�ù̶���λ��ʹԪ��������ӿڶ�λ */
  top: 50%; /* �����ӿڶ����ľ��� */
  left: 50%; /* �����ӿ����ľ��� */
  transform: translate(-50%, -50%); /* ��Ԫ�����������ĵ㶨λ���ӿڵ����� */
  width: fit-content; /* �������Ŀ��� */
  height: fit-content; /* �������ĸ߶� */
  padding: 10px;
  background-color: #f1f1f1; /* �������ı�����ɫ */
  border: 1px solid #ccc; /* �������ı߿���ʽ */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* ����������ӰЧ�� */
  z-index: 20000; /* ȷ��������������Ԫ��֮�� */
}

.add-formula-form, .add-class-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.add-formula-form input,.add-formula-form textarea, .add-formula-form button{
  margin-bottom: 10px;
}

.add-class-form input, .add-class-form button {
  margin-bottom: 10px;
}

#add-formula-cancel, #add-class-cancel, #preview-cancel {
  position: absolute;
  top: 0;
  right: 5px;
  width: 20px;
  height: 20px;
  border: 0;
  color: #F44336;
  background-color: transparent;
  border: none;
}

#add-formula-cancel:hover, #add-class-cancel:hover, #preview-cancel:hover {
  color: #B71C1C;
}

.formula-face {
  font-size: 20px;
}

.formula-class {
  display: flex;
  flex-direction: row;
  width: fit-content;
  overflow: hidden;
  overflow-x: scroll;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;
  border-right: 1px solid #bcbcbc;
  padding-left: 1px solid #bcbcbc;
}

.formula-class button {
  border: 0;
  background-color: transparent;
  color: #000;
  font-size: 15px;
  height: 30px;
  padding-right: 0;
}

.formula-class button:hover {
  color: #444;
}

.delete-formula-class span {
  border: 0;
  height: 24px;
  color: #F44336;
}

.choosing-formula-class {
  background-color: #fefefe;
}

.formula-class-icon-button {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.formula-add-button {
  background-color: transparent;
  border: none;
  height: 100%;
}

.formula-add-button:hover span {
  color: #444;
}

.formula-add-button span {
  font-size: 40px;
  color: #000;
}