.group-members h1 {
  text-align: center;
}
.group-members .back {
  position: absolute;
  margin: 10px;
  border: 0;
  border-radius: 4px;
  background-color: #e5e5e5;
  padding: 8px;
}
.group-members .back:hover {
  background-color: #ccc;
}
.group-members .setting {
  position: absolute;
  right: 38px;
  margin: 10px;
  border: 0;
  border-radius: 4px;
  background-color: #e5e5e5;
  padding: 8px;
}
.group-members .setting:hover {
  background-color: #ccc;
}
