div#loginParent {
  width: 100vw;
  height: 100vh;
  display: flex;
}

div.login {
  margin: auto;
  width: fit-content;
  /* min-width: 400px; */
  padding-top: 50px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  height: fit-content;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #222;
  background-color: #fefefe;
  border-radius: 10px;
}

div.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  padding-bottom: 10px;
}

button.field {
  margin-top: 30px;
  width: 100%;
}

.default-form button.switch {
  margin-top: 30px;
  width: 100%;
  background-color: #239434;
  border: 1px solid #239434;
}
.default-form button.switch:hover {
  color: #239434;
  background-color: #fff;
}

div.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button.disabled {
  background-color: #ccc;
  color: #222;
}

input#code {
  width: 100px;
}

input {
  width: 310px;
}

button.sms {
  width: fit-content;
  margin-left: 10px;
  width: 100px;
}

div#panel {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

div.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.loginTabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.loginTitle {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

img.logo {
  height: 40px;
}
