.chat-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: "inline-block";
}
.list-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: "inline-block";
}
.me-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.big-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
