.group-members {
  margin: 20px;
}
.group-members h1 {
  text-align: center;
  font-size: 30px;
}
.group-members .back {
  position: absolute;
  margin: 10px;
  border: 0;
  border-radius: 4px;
  background-color: #e5e5e5;
  padding: 8px;
}
.group-members .back:hover {
  background-color: #ccc;
}
.group-members .setting {
  position: absolute;
  right: 38px;
  margin: 10px;
  border: 0;
  border-radius: 4px;
  background-color: #e5e5e5;
  padding: 8px;
}
.group-members .setting:hover {
  background-color: #ccc;
}
.default-container .checkbox {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.group-members .add {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #332bbc;
  border-radius: 5px;
  background-color: #332bbc;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.group-members .add:hover {
  background-color: #fff;
  color: #332bbc;
}
