.one-friend {
  padding: 5px;
  padding-left: 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.one-friend p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.one-friend:hover {
  background-color: #f2f2f2;
}
