.search input {
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.search input:focus {
  outline: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.all-add {
  padding: 8px;
}
.one-add {
  padding-left: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.one-add:hover {
  background-color: #f5f5f5;
}
.info {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.info p {
  margin: 0;
  margin-left: 4px;
}
.acceptance {
  flex-shrink: 0;
  margin-left: 8px;
  margin-right: 8px;
  padding: 4px;
  background-color: #a2eb9574;
  color: #504f4f;
  border-radius: 4px;
  height: 24px;
}
.unacceptance {
  flex-shrink: 0;
  margin-left: 8px;
  margin-right: 8px;
  padding: 4px;
  background-color: #eb959586;
  color: #504f4f;
  border-radius: 4px;
  height: 24px;
}
.info p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.addParent {
  width: 100vw;
  height: 100vh;
  display: flex;
}