nav {
  border: 2px solid black;
  height: 95vh;
  width: 20vw;
}
main {
  background-color: #fff;
  border: 2px solid black;
  width: 70vw;
  height: 95vh;
  margin-left: 30px;
  margin-right: 30px;
}
